@tailwind base;
@tailwind components;
@tailwind utilities;

.red_log {
  outline: 2px solid crimson;
}

.green_log {
  outline: 2px solid green;
}

.blue_log {
  outline: 2px solid dodgerblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.layout {
  padding: 0 1rem;
}

.button {
  padding: .8rem 1.2rem;
  background: #ED1F1F;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
}